{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

<body class="bg-blue-200">
<h1 class="text-2xl text-center">Rapantix</h1>
<div class="flex flex-col container mx-auto">
<input type="text" placeholder="Ecris un mot">
<button class="border bg-gray-300" id="btncheck">Check!</button>
</div>
<input class="mt-7" type="text" name="artiste" id="artiste" placeholder="Le titre de la chanson?">
<section id="lyrics"></section> 

</body>

{% endblock %}
