{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

<body class="bg-yellow-200">
    
<h1 class="text-center uppercase text-2xl">Rapantix</h1>

</body>

{% endblock %}
